.span-all {
  grid-column: 1/-1; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

img {
  width: 100%; }

.trip-card__img {
  width: 100%; }

.icon-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, min-content);
  grid-gap: 3rem; }
  .icon-card__icon {
    color: #EF6C57;
    display: inline;
    grid-row: 1/-1;
    font-size: 5rem;
    justify-self: flex-end; }

.testimonial__img {
  width: 50%; }

.footer {
  padding: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  text-align: center;
  background-color: #333333; }
  .footer__nav-box {
    display: flex;
    justify-content: space-between; }

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .navbar__logo {
    padding: 1rem 2rem;
    font-size: 3rem; }
    .navbar__logo--text {
      text-decoration: none;
      color: black; }
  .navbar__nav {
    font-size: 1.5rem;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    list-style: none; }
  .navbar__nav-item {
    padding: 1rem 1rem; }
  .navbar__nav-link {
    text-decoration: none;
    color: black; }
    .navbar__nav-link--current {
      color: #EF6C57; }

.overlay {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  padding: 10rem; }

.icon {
  padding: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.testimonials {
  padding: 10rem; }

.destinations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  text-align: center;
  padding: 10rem; }
  .destinations__header, .destinations__sub-header {
    grid-column: 1/-1; }

.parallax {
  background-image: url("/images/hero_bg_2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 500px; }
  .parallax__video {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center; }
  .parallax__play-circle {
    align-self: center;
    display: inline-block;
    border: solid 2px white;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    position: relative;
    transition: all .4s; }
    .parallax__play-circle:hover {
      transform: scale(1.5); }
    .parallax__play-circle:hover + h2 {
      transform: translateY(1.5rem); }
  .parallax__play-triangle {
    color: white;
    font-size: 5rem;
    line-height: 10rem;
    position: absolute;
    left: 2.9rem; }
  .parallax__text {
    font-size: 5rem;
    color: white;
    transition: all .4s; }
  .parallax__text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }

.services {
  padding: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  text-align: center;
  background-color: #F8F9FA; }
  .services__header, .services__sub-header {
    grid-column: 1/-1; }

.blog {
  padding: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  text-align: center;
  border-bottom: solid 3px #F8F9FA; }
  .blog__header, .blog__sub-header {
    grid-column: 1/-1; }

.cta {
  padding: 2rem;
  text-align: center; }
