*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection{
  color: $color-white;
  background-color: $color-text;
}

html{
  font-size: 62.5%;
}
img{
  width: 100%;
}

body{

}
