.modal{
  z-index: 15;
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.8);
}

.overlay{
  overflow: visible;
  //z-index: 20;
  margin-top: -25vh;
  @include grid;
  // display: grid;
  grid-template-columns: $grid-column-3;
  // grid-gap: $grid-gap;
  // padding: 10rem;
}

.icon{
  @include grid;
  // padding: 10rem;
  // display: grid;
  grid-template-columns: $grid-column-3;
  // grid-gap: 3rem;
}

.testimonials{
  background-color: $color-background;
  padding: 10rem 0;
  // @include respond(2){
  //   padding: 10rem 2rem;
  // }
  // @include respond(1){
  //   padding: 10rem 0;
  // }
}

.destinations{
  @include grid;
  // display: grid;
  grid-template-columns: $grid-column-3;
  // grid-gap: $grid-gap;
  text-align: center;
  // padding: 10rem;
  &__header,
  &__sub-header{
    grid-column: 1/-1;
  }
}
 .parallax{
   background-image: url("/images/hero_bg_2.jpg");
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
   height: 500px;

   &__video{
     height: 100%;
     background-color: rgba(0,0,0,.4);
     position: relative;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
      text-align: center;
   }
   &__play-circle{
     align-self: center;
     display: inline-block;
     border: solid 2px white;
     border-radius: 50%;
     width: 10rem;
     height: 10rem;
     position: relative;
     // position: absolute;
     // top:20%;
     //transform: translateX(-50%);
     transition:all .4s;
     &:hover{
      transform: scale(1.5);
    }
      &:hover+h2{
        transform: translateY(2rem);
        }

     }

   &__play-triangle{
     color: white;
     font-size: 5rem;
     line-height: 10rem;
     position: absolute;
     left: 2.9rem;
   }
   &__text{
     font-size: 5rem;
     color: white;
     transition: all .4s;
   }
   &__text-box{
     display: flex;
     flex-direction: column;
     justify-content: space-around;
   }
 }

.services{
  @include grid;
  // padding: 10rem;
  // display: grid;
  grid-template-columns: $grid-column-3;
  // grid-gap: $grid-gap;
  text-align: center;
  background-color: #F8F9FA;
  &__header,
  &__sub-header{
    grid-column: 1/-1;
  }
}

.blog{
  @include grid;
  // padding: 10rem;
  // display: grid;
  grid-template-columns: $grid-column-2;
  // grid-gap: $grid-gap;
  text-align: center;
  border-bottom: solid 3px #F8F9FA;
  &__header,
  &__sub-header{
    grid-column: 1/-1;
  }
}

.cta{
  & > *{
    margin: 2rem;
  }
  margin: 2rem;
  padding: 2rem;
  text-align: center;
}
