.blog-card{
text-align: left;
& > *{
  margin-bottom: 2rem;
}
  &__title{
    color: $color-primary;
    font-size: $font-size-card;
  }
  &__info-box{
    color: rgba($color-text,.8);
    font-size: $font-size-para;
  }
  &__text{
    color: $color-text;
    font-size: $font-size-para;
  }

  &__link{
    color: $color-primary;
    font-size: $font-size-para;
  }

}
